





<table class="table table-bordered table-striped">
   <thead>
      <tr>
        <th>Report No</th>
        <th>Report Name</th>
      </tr>
   </thead>
   <tbody>
     {{#each reportsList}}
     <tr>
      <td>{{id}}</td>
      <td>{{report_name}}</td>
     </tr>
     {{/each}}
   </tbody>
</table>
