<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-top-bottom-selection">Total IPC
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down" id="js-top-bottom-options">
          <li class="active"><a class="js-topbottom-heads" data-val="all">Total IPC</a></li>
          <li><a class="js-topbottom-heads" data-val="1">Murder for gain</a></li>
          <li><a class="js-topbottom-heads" data-val="2">Dacoity</a></li>
          <li><a class="js-topbottom-heads" data-val="3">Robbery</a></li>
          <li><a class="js-topbottom-heads" data-val="4">H.Bs by Day</a></li>
          <li><a class="js-topbottom-heads" data-val="5">H.Bs by Night</a></li>
          <li><a class="js-topbottom-heads" data-val="6">Ordinary +</a></li>
          <li><a class="js-topbottom-heads" data-val="7">Murders</a></li>
          <li><a class="js-topbottom-heads" data-val="8">C.Homicides</a></li>
          <li><a class="js-topbottom-heads" data-val="9">Riotings</a></li>
          <li><a class="js-topbottom-heads" data-val="10">Kidnappings </a></li>
          <li><a class="js-topbottom-heads" data-val="11">Rape</a></li>
          <li><a class="js-topbottom-heads" data-val="12">Griev. Hurts</a></li>
          <li><a class="js-topbottom-heads" data-val="13">Simple Hurts</a></li>
          <li><a class="js-topbottom-heads" data-val="14">Cheatings</a></li>
          <li><a class="js-topbottom-heads" data-val="15">C.B.of Trust</a></li>
          <li><a class="js-topbottom-heads" data-val="16">C.F.Currency</a></li>
          <li><a class="js-topbottom-heads" data-val="17">S.Drugs</a></li>
          <li><a class="js-topbottom-heads" data-val="18">307  IPC</a></li>
          <li><a class="js-topbottom-heads" data-val="19">304(A) IPC</a></li>
          <li><a class="js-topbottom-heads" data-val="20">337,338 IPC</a></li>
          <li><a class="js-topbottom-heads" data-val="21">Other  IPC</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-xs-12">
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-year-top-bottom">2016
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down" id="js-year-topbottom-options">
          <li><a class="js-year-topbottom" data-val="2003">2003</a></li>
          <li><a class="js-year-topbottom" data-val="2004">2004</a></li>
          <li><a class="js-year-topbottom" data-val="2005">2005</a></li>
          <li><a class="js-year-topbottom" data-val="2006">2006</a></li>
          <li><a class="js-year-topbottom" data-val="2007">2007</a></li>
          <li><a class="js-year-topbottom" data-val="2008">2008</a></li>
          <li><a class="js-year-topbottom" data-val="2009">2009</a></li>
          <li><a class="js-year-topbottom" data-val="2010">2010</a></li>
          <li><a class="js-year-topbottom" data-val="2011">2011</a></li>
          <li><a class="js-year-topbottom" data-val="2012">2012</a></li>
          <li><a class="js-year-topbottom" data-val="2013">2013</a></li>
          <li><a class="js-year-topbottom" data-val="2014">2014</a></li>
          <li><a class="js-year-topbottom" data-val="2015">2015</a></li>
          <li class="active"><a class="js-year-topbottom" data-val="2016">2016</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-month-top-bottom">Month
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down" id="js-month-topbottom-options">
          <li class="active"><a class="js-months-topbottom" data-val="all">ALL</a></li>
          <li><a class="js-months-topbottom" data-val="1">JAN</a></li>
          <li><a class="js-months-topbottom" data-val="2">FEB</a></li>
          <li><a class="js-months-topbottom" data-val="3">MAR</a></li>
          <li><a class="js-months-topbottom" data-val="4">APR</a></li>
          <li><a class="js-months-topbottom" data-val="5">MAY</a></li>
          <li><a class="js-months-topbottom" data-val="6">JUN</a></li>
          <li><a class="js-months-topbottom" data-val="7">JUL</a></li>
          <li><a class="js-months-topbottom" data-val="8">AUG</a></li>
          <li><a class="js-months-topbottom" data-val="9">SEP</a></li>
          <li><a class="js-months-topbottom" data-val="10">OCT</a></li>
          <li><a class="js-months-topbottom" data-val="11">NOV</a></li>
          <li><a class="js-months-topbottom" data-val="12">DEC</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-xs-12">
      <div class="card" id="js-report-comparision-top5">

      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card" id="js-report-top5-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th colspan="2">HIGHEST 5</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="card" id="js-report-comparision-bottom5">

      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="card" id="js-report-bottom5-table">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th colspan="2">LOWEST 5</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
