<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-district-selection">Between Ranges
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down" id="js-rangesAndZones">
          <li class="disabled pull-left"><a class="js-Range-wise">Ranges</a></li>
          <li class="js-dropdown-list active"><a class="js-ranges-groups" data-distrct="all">Between Ranges</a></li>
          <li class="js-dropdown-list"><a class="js-ranges-groups" data-distrct=11>Kurnool Range</a></li>
          <li class="js-dropdown-list"><a class="js-ranges-groups" data-distrct="12">Anantapur Range</a></li>
          <li class="js-dropdown-list"><a class="js-ranges-groups" data-distrct="13">Guntur Range</a></li>
          <li class="js-dropdown-list"><a class="js-ranges-groups" data-distrct="14">Eluru Range</a></li>
          <li class="js-dropdown-list"><a class="js-ranges-groups" data-distrct="15">Vizag Range</a></li>
          <li class="disabled pull-left"><a class="js-Zone-wise">Zones</a></li>
          <li class="js-dropdown-list"><a class="js-Zone-wise" data-distrct="all">Between Zones</a></li>
          <li class="js-dropdown-list"><a class="js-Zone-wise" data-distrct="111">South Zone - Rayalaseema</a></li>
          <li class="js-dropdown-list"><a class="js-Zone-wise" data-distrct="112">North Coastal Zone - Andhra</a></li>
          <li class="js-dropdown-list"><a class="js-Zone-wise" data-distrct="113">South Coastal Zone - Guntur</a></li>
          <!--<li class="disabled pull-left"><a class="js-Commissionerates">Commisanarates</a></li>
          <li class="js-dropdown-list"><a class="js-Commissionerates" data-distrct="16">Between Commisanarates</a></li>
          <li class="disabled pull-left"><a class="js-railway-units">Railway Units</a></li>
          <li class="js-dropdown-list"><a class="js-railway-units" data-distrct="17">Between Railway Units</a></li>
          <li class="disabled pull-left"><a class="js-state-wise">State Wise</a></li>
          <li class="js-dropdown-list"><a class="js-state-wise" data-distrct="0">Between States</a></li>-->
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-crimes-selection">TOTAL IPC CRIMES
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down">
          <li class="active"><a class="js-crime-groups" data-crime="all">TOTAL IPC CRIMES</a></li>
          <li><a class="js-crime-groups" data-crime="[1, 2, 3, 4, 5, 6]">PROPERTY CRIME </a></li>
          <li><a class="js-crime-groups" data-crime="[7, 18, 8, 9, 10, 11, 12, 13]">BODILY OFFENCES</a></li>
          <li><a class="js-crime-groups" data-crime="[14, 15, 16, 17]">WHITE COLLAR CRIME</a></li>
          <li><a class="js-crime-groups" data-crime="[19, 20]">ROAD ACCIDENTS</a></li>
          <li><a class="js-crime-groups" data-crime="[21]">OTHER IPC</a></li>
<!--          <li><a class="js-crime-groups" data-crime="women">CRIME AGAINST WOMEN</a></li>
          <li><a class="js-crime-groups" data-crime="faction">FACTION OFFENCES</a></li>-->
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-range-year-selection">2016
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down">
          <li><a class="js-range-year" data-range="2003">2003</a></li>
          <li><a class="js-range-year" data-range="2004">2004</a></li>
          <li><a class="js-range-year" data-range="2005">2005</a></li>
          <li><a class="js-range-year" data-range="2006">2006</a></li>
          <li><a class="js-range-year" data-range="2007">2007</a></li>
          <li><a class="js-range-year" data-range="2008">2008</a></li>
          <li><a class="js-range-year" data-range="2009">2009</a></li>
          <li><a class="js-range-year" data-range="2010">2010</a></li>
          <li><a class="js-range-year" data-range="2011">2011</a></li>
          <li><a class="js-range-year" data-range="2012">2012</a></li>
          <li><a class="js-range-year" data-range="2013">2013</a></li>
          <li><a class="js-range-year" data-range="2014">2014</a></li>
          <li><a class="js-range-year" data-range="2015">2015</a></li>
          <li class="active"><a class="js-range-year" data-range="2016">2016</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <div class="dropdown d-left">
        <button class="btn btn-card dropdown-toggle col-xs-12" type="button" data-toggle="dropdown" id="js-range-month-selection">Month
          <span class="caret pull-right"></span>
        </button>
        <ul class="dropdown-menu d-down">
          <li class="active"><a class="js-range" data-range="all">ALL</a></li>
          <li><a class="js-range" data-range="1">JAN</a></li>
          <li><a class="js-range" data-range="2">FEB</a></li>
          <li><a class="js-range" data-range="3">MAR</a></li>
          <li><a class="js-range" data-range="4">APR</a></li>
          <li><a class="js-range" data-range="5">MAY</a></li>
          <li><a class="js-range" data-range="6">JUN</a></li>
          <li><a class="js-range" data-range="7">JUL</a></li>
          <li><a class="js-range" data-range="8">AUG</a></li>
          <li><a class="js-range" data-range="9">SEP</a></li>
          <li><a class="js-range" data-range="10">OCT</a></li>
          <li><a class="js-range" data-range="11">NOV</a></li>
          <li><a class="js-range" data-range="12">DEC</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <!--  <div class="col-sm-6">
      <div class="col-sm-12 col-xs-12">
        <div class="card" id="js-crime-by-distrct">

        </div>
      </div>
      <div class="col-sm-12 col-xs-12">
        <div class="card" id="js-month-range">

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 col-xs-12">
        <div class="card" id="js-crime-by-category">

        </div>
      </div>
    </div>
  -->
  <div class="col-sm-12 col-xs-12">
    <div class="card" id="js-comparision">

    </div>
  </div>
  <!--<div class="col-sm-12 col-xs-12">
    <div class="card" id="js-singlerange-singlegroup">

    </div>
  </div>-->
  </div>

</div>
