<div class="container-fluid login-bg" style="height: 700px;">
  <div class="row">

    <div class="login">
      <img src="cid_ap_logo.png" class="img-responsive">
      <form role="form" method="post" action="/login">
        <div class="login-input">
          <input type="text" name="userid" class="form-control input-lg" placeholder="Login ID">
        </div>
        <div class="login-input">
          <input type="password" name="password" class="form-control input-lg" placeholder="Password">
        </div>
        <div class="login-btn">
          <input type="submit" class="btn btn-green btn-block btn-lg" value="Login >"></input>
        </div>
      </form>
    </div>
  </div>
</div>
